{%- button_theme buttons 'views/custom-theme.twig' -%}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Buttons Example</title>
</head>
<body>
  {{ buttons(buttons) }}
</body>
</html>
